body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
font-family:Arial;

background-image:url("pr.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}



color:white;
font-family:Arial;
}

.box{text-align:center;}

#distance{font-size:48px;margin:20px;}

#rose{
width:200px;
display:none;
animation:fade 2s ease;
}

#msg{
display:none;
color:pink;
margin-top:15px;
}

@keyframes fade{
from{opacity:0; transform:scale(.5);}
to{opacity:1;}
}
